* {
    /*box-sizing: border-box;*/
}


video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {

    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-align: center;
}

#info_txt {
    color:red;
}

.wrapper {}

.button{
    background-color: #38ABE8;
    border: 50%;
    color: white;
    
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    
    border-radius: 50%;
    width: 300px;
    height: 300px;
    
    position: relative;
    outline: none;
    margin-top:150px;
    
    /*word-break: break;
    line-height: 1;*/
    
}

.bilde {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    z-index:-1;
}

.visible{
    display: inline;
}


.hidden{
    display: none;
}

#canvas {
    background-color: gray;
    border-radius: 50%;
    opacity: .7;
}
.spinnable{
    /* MINUTES */
    -webkit-animation:spin 720s infinite linear;
    /* SECONDS */
    /* -webkit-animation:spin 12s infinite linear; */
}

#triangle{
    width:20px;
    height: 20px;
}

@-webkit-keyframes spin{
    0% {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform:rotate(-360deg);}
}




